/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: inherit;
	box-sizing: border-box;
}

html {
	font-size: 12px;
	font-family: "Poppins", 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	color: #4F4F4F;
	scroll-behavior: smooth;
}

/*Start of navigation and the header*/

#header {
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	margin-top: 13px;
	margin-right: 17px;
}

.logo-name {
	display: inline-block;
	font-size: 2rem;
	flex: 2 2 80px;
	text-decoration: none;
	color: #000000;
	font-weight: 800;
	font-family: "Heebo";
}

.hamburgerMenu {
	flex: 0 0 18px;
	display: inline-block;
}

#navigation {
	display: none;
	flex-basis: 50%;
	font-size: 1.34rem;
	text-align: center;
}

.nav-links {
	display: block;
	line-height: 3rem;
	text-decoration: none;
	color: black;
}

.nav-links:hover {
	color: white;
	background-color: #2D9CDB;
}

/*End of navigation and header*/

.home, .services, .our-works, .our-team, .clients, .footer {
	width: fit-content;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.services, .our-works, .our-team, .clients {
	margin-top: 102px;
}

h1, .home p:first-child, .second-par, #contact-form, .section-headers {
	padding: 0 30px;
}

h1 {
	font-size: 2rem;
	line-height: 3rem;
	color: #333333;
}

#home h1:last-child {
	padding-right: 80px;
}

h2 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	color: #333333;
}

h3 {
	color: #333333;
}

.home p:first-child {
	margin-top: 48px;
	color: #2D9CDB;
}

.hero-image {
	width: 100%;
	border-radius: 18px;
	margin-top: 15px;
	margin-bottom: 22px;
}

.second-par {
	margin: 33px 0;
	font-weight: 400;
}

#contact-form {
	padding: 0 30px;
}

#contact-form label {
	font-size: 0.83rem;
	line-height: 1.25rem;
	color: #828282;
}

#contact-form, .input-container, #join-button {
	box-sizing: border-box;
}

#contact-form .input-container {
	display: flex;
	background: #F2F2F2;
	box-sizing: border-box;
	border-radius: 1rem;
	height: 47px;
	margin-top: 5px;
	padding: 4px;
}

#contact-form #contact-email {
	font-size: 1.17rem;
	flex: 2 2 70%;
	width: 70%;
	line-height: 1.75rem;
	border: none;
	background-color: #F2F2F2;
	margin: 8px 0px 8px 10px;
}

#contact-form #join-button {
	background: #2D9CDB;
	flex: 1 1 71px;
	border-radius: 12px;
	color: #F2F2F2;
	border: none;
	height: 39px;
}

.section-headers {
	font-size: 2rem;
	line-height: 3rem;
	padding-right: 20px;
}

.service-headings {
	font-weight: 700;
	line-height: 3rem;
	font-size: 2rem;
	margin-left: 34px;
}

.service-icon {
	display: inline-block;
	height: 67px;
	width: 67px;
	margin: 49px 0px 35px 34px;
	border-radius: 16px;
}

.icon-image {
	height: 40px;
	width: 40px;
	filter: invert();
	margin: 20%;
}

.icon-ui-ux {
	background: #2D9CDB;
	;
}

.icon-front-end {
	background: #27AE60;
}

.icon-back-end {
	background: #EB5757;
}

.service-container {
	border-radius: 1rem;
	margin: 43px 10px;
}

.service-container:hover {
	scale: (1.2);
	box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.service-container p {
	line-height: 2rem;
	font-size: 1.34rem;
	padding: 0 34px;
	margin: 24px auto;
}

.service-button {
	margin: 30px 0px 43px 34px;
	border: none;
	height: 42px;
	width: 116px;
	background: #E0E0E0;
	color: #828282;
	border-radius: 1rem;
}

.service-button:hover {
	color: #ffffff;
	background: #2D9CDB;
	cursor: pointer;
}

.our-works h2 {
	margin-bottom: 48px;
}

.bundle-application-container {}

.single-application-container {
	display: block;
	border-radius: 1rem;
	margin-bottom: 25px;
}

.single-application-image-container {
	border-radius: 1rem;
	width: 100%;
	min-height: 100px;
}

.figure-captions-par {}

.single-application-container figcaption p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
	color: #828282;
}

.single-application-container figcaption h4 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	color: #333333;
}

.our-works a {
	display: block;
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-top: 35px;
	color: #2D9CDB;
}

.our-team {
	display: flex;
	flex-direction: column;
}

.our-team h2 {
	font-size: 3rem;
	line-height: 4.5rem;
}

.our-team p {
	padding-right: 72px;
	font-size: 1.34rem;
	line-height: 2rem;
	color: #4F4F4F;
}

.our-team p:first-child {
	font-size: 1.5rem;
	line-height: 2.25rem;
	color: #EB5757;
}

.flex-image-container {
		display: grid;
		max-width: 100%;
		grid-template-rows: 1fr 1fr;
		column-gap: 8px ;
		grid-template-areas:
		  "image1 image2"
		  "image1 image3";
	  }

	  .image1 { grid-area: image1; margin: 50% 0 ; }
	  .image2 { grid-area: image2; }
	  .image3 { grid-area: image3; }

.worker-image {
	width: 100%;
	border-radius: 2rem;
}

.clients p {
	font-size: 2rem;
	line-height: 3rem;
	color: #333333;
}

.clients .figure-client {
	display: grid;
	margin-top: 20px;
	margin-bottom: 103px;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "image heading" 
						 "image par";
}

.clients figure img {
	grid-area: image;
	display: inline-block;
	border-radius: 12px;
	height: 80px;
}

.clients figure p:first-child {
	grid-area: heading;
	font-size: 2rem;
	line-height: 3rem;
	color: #333333;
	width: fit-content;
	margin-bottom: 8px;
}

.figure-client p {
	grid-area: par";
	font-size: 1.5rem;
	line-height: 2.25rem;
	color: #828282;
	width: fit-content;
	margin: 0;
}

.footer, .footer-logo, .footer-nav-links {
	color: #ffffff;
}

.footer {
	padding: 0 10px 45px 0;
	width: 100%;
	background-color: #100E1D;
	line-height: 200%;
}

#footer-navigation {
	padding: 36px 0px 64px 30px;
	font-size: 1.5rem;
}

.socials {
	padding-left: 30px;
	margin-bottom: 118px;
}

.footer-logo {
	display: block;
}

.socials img {
	margin: 8px 11px 0px 0px;
}

.copyright {
	text-align: center;
	width: 100%;
	margin-top: 133px;
}

@media only screen and (min-width: 500px) {
	html {
		font-size: 18px;
		line-height: ;
	}
}